@charset "UTF-8"

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

:root{
    --cor0:#f8f8f8;
    --cor01:#212121;
    --cor02:#ffff;
    --cor03:#FFD700;

}

*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #ffffc;
}

head{
    
}

header {
    background-color: #212121;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    color: #ffff;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}