@charset "UTF-8";
 
.container{
    border: 3px solid blue;
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
}

.caixa1{
    background-color: gray;
    border: 3px solid red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2{
    background-color: lightcoral;
    border: 3px solid red;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3{
    background-color: lightgreen;
    border: 3px solid red;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

/*Números negativos*/
.container2{
    border: 3px solid blue;
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
}

.caixa4{
    background-color: lightskyblue;
    border: 3px solid red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
}

.caixa5{
    background-color: lightslategray;
    border: 3px solid red;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa6{
    background-color: lightsalmon;
    border: 3px solid red;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
}


